# pak files (for testing)
*.pak
filenames.json
*.bak
*.contents

# Ignore the default extract directory.
EXTRACTED/

# Ignore any dll's etc so that they are not included in source.
*.dll
*.dylib
*.so
*.exe

__pycache__/
